################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Objects
/project.uvguix.ayou
/.gitignore
/.gitignore
/project.uvoptx
/project.uvprojx
